* {padding-left: 0px;}
.wrapper{
    widows: 1000px;
}
a.navbar-brand {
	font-family: 'anaglyphy', sans-serif;
	font-size: 2.2em;
	text-shadow: 2px 2px 5px rgba(66, 60, 63, 0.88);
	color: #f6f5e8 !important;
}

.bg-light {
	background-color: rgba(255, 255, 255, 0.164) !important;
	position: absolute;
	width: 100%;
	z-index: 9;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
	color: #656565;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0em 0.5em;
	text-shadow: 1px 1px 2px #929292;
}

dropdown-item {
	margin: 0 !important;
}


.banner {
	padding-top: 0px;
	background: url(../images/1.jpg)no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 880px;
	position: relative;
}

.search_bar input{border: 0;}
.imagetable td{padding: 40px;}
/*about us detail list title formatting*/
ul.service-detail li.li_title {
	list-style-type: none;
    color: #ffffff;
    background-color: #099cf0;
	line-height: 28px;
	font-size:18px;
    letter-spacing: .7px;
    padding-left: 20px;
    font-weight: 400;
}
/* about us h3 and h5 text formatting */
.about-us h5{color: #099cf0;}
.about-us h3{color:rgba(12, 12, 12, 0.739);}
/*about us detail list detail formatting*/
ul.service-detail li.detail {
	list-style-type:none;
    color: #000000;
	line-height: 28px;
	font-size:13px;
    letter-spacing: .7px;
    padding-left: 50px;
}
/*format services list ul*/
ul.services-list li {
	list-style-type:none;
    color: #000000;
	line-height: 40px;
	font-size:18px;
    letter-spacing: .7px;
    padding-left: 50px;
    font-weight: 500;
}
.services{margin:auto;margin-top: 0px;}
.services h3,p{padding-left: 20px;color:rgba(12, 12, 12, 0.739);}
/* add background image for service grid (4 cell grid with text ) */
.serv-inner1 .serv-left {
	background: url(../images/10.jpg)no-repeat 0px 0px;
}

.serv-inner1 .serv-right {
	background: url(../images/11.jpg)no-repeat 0px 0px;
}

.serv-inner2 .serv-left {
	background: url(../images/12.jpg)no-repeat 0px 0px;
}

.serv-inner2 .serv-right {
	background: url(../images/13.jpg)no-repeat 0px 0px;
}

h6 span{color: #099cf0;}
.imgrid h6{color: #ffffff;}
/* setting up background image sizes */
.serv-inner1 .serv-left,
.serv-inner1 .serv-right,
.serv-inner2 .serv-left,
.serv-inner2 .serv-right {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	background-position: center;
}
.cplimg{margin-left: 0px; padding-left:0px;padding-right: 0px;}
/* footer */
.footer-section-w3-agileits {background: #161616;}/*set footer background color*/
.footer-grids-w3-agile:nth-child(2){border-left: 1px solid #838383; border-right: 1px solid #838383;} /*add left and right boder to 2nd child*/
.ff-images {margin:0px;padding-right:2em;padding-bottom:0;} /*set margine to 0-image grid*/
.footer-grids-w3-agile {padding: 0em 2em;margin-left: auto;padding-bottom:0;}
.footer-grids-w3-agile a img {width: 100%;margin-bottom: 0px;border: 2px solid #fff;} /*add white color border to every images in grid*/
.footer-grids-w3-agile a {padding: 0;} /*set anchor tag padding to zero in footergrid agile*/

.footer-grids-w3-agile,.footer-grids-w3-agile.ff-images {max-height: 200px;}
/* footer text formatting */
.footer-grids-w3-agile p {
	color: #bbbbbb;
	line-height: 24px;
	font-size: 13px;
	letter-spacing: .7px;
}

/* header text formatting */
.footer-section-w3-agileits h2,
.footer-section-w3-agileits h3 {
	color: #eee;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0.6em;
	letter-spacing: 2px;
}
/* text formatting list element */
ul.w3agile_footer_grid_list li {
	list-style-type: none;
	color: #e7dada;
	line-height: 24px;
	font-size:13px;
	letter-spacing: .7px;
}

ul.w3agile_footer_grid_list li:nth-child(1) {margin-bottom: 1em;}
ul.w3agile_footer_grid_list li a {color:  #099cf0 ;text-decoration: none;}
ul.w3agile_footer_grid_list li span {display: block;color: rgba(169, 169, 169, 0.52);} /*twitter name formatting*/
 
@media(max-width:900px){
	ul.service-detail li.detail {
		list-style-type:none;
		color: #000000;
		line-height: 20px;
		font-size:13px;
		letter-spacing: .7px;
		padding-left: 50px;
	}
	ul.services-list li {
		list-style-type:none;
		color: #000000;
		line-height: 25px;
		font-size:15px;
		letter-spacing: .7px;
		padding-left: 50px;
		
	}
	.footer-grids-w3-agile p {
		color: #bbbbbb;
		line-height: 15px;
		font-size: 10px;
		letter-spacing: .7px;
	}
	

}

@media(max-width:1080px) {


	.footer-grids-w3-agile p {
		font-size: 14px;
	}
	ul.w3agile_footer_grid_list li {
		font-size: 14px;
	}

}
