* {padding-left: 0px;}
.wrapper{
    widows: 1000px;
}
.clearfix{overflow: auto;}
.top_bar{background: rgba(0, 0, 0, 0.404);padding-left: 0px; margin-left: 0px;}
.image{width: auto;}
.image img{width:100% ;}
.topbar_link ul a{
    text-decoration: none;
    color: gray;
}
.topbar_link li{
    display: inline;
    padding-right: 20px;
}

.topbar_link ul a:hover{
    text-decoration: underline;
    color: black;
}

.topbar_link{
    padding: 15px;
    float:left;
    margin-left: 15px;
}
.search_bar{
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    float: right;
    margin: 15px ;
    border-radius: 10px;
}

.search_bar input{border: 0;}
.imagetable td{padding: 40px;}
/*about us detail list title formatting*/
ul.service-detail li.li_title {
	list-style-type: none;
    color: #ffffff;
    background-color: #099cf0;
	line-height: 28px;
	font-size:18px;
    letter-spacing: .7px;
    padding-left: 20px;
    font-weight: 400;
}
/* about us h3 and h5 text formatting */
.about-us h5{color: #099cf0;}
.about-us h3{color:rgba(12, 12, 12, 0.739);}
/*about us detail list detail formatting*/
ul.service-detail li.detail {
	list-style-type:none;
    color: #000000;
	line-height: 28px;
	font-size:13px;
    letter-spacing: .7px;
    padding-left: 50px;
}
/*format services list ul*/
ul.services-list li {
	list-style-type:none;
    color: #000000;
	line-height: 40px;
	font-size:18px;
    letter-spacing: .7px;
    padding-left: 50px;
    font-weight: 500;
}
.services{margin:auto;margin-top: 0px;}
.services h3,p{padding-left: 20px;color:rgba(12, 12, 12, 0.739);}
/* add background image for service grid (4 cell grid with text ) */
.serv-inner1 .serv-left {
	background: url(../images/10.jpg)no-repeat 0px 0px;
}

.serv-inner1 .serv-right {
	background: url(../images/11.jpg)no-repeat 0px 0px;
}

.serv-inner2 .serv-left {
	background: url(../images/12.jpg)no-repeat 0px 0px;
}

.serv-inner2 .serv-right {
	background: url(../images/13.jpg)no-repeat 0px 0px;
}
/* setting up background image sizes */
.serv-inner1 .serv-left,
.serv-inner1 .serv-right,
.serv-inner2 .serv-left,
.serv-inner2 .serv-right {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	background-position: center;
}

/* footer */
.footer-section-w3-agileits {background: #161616;}/*set footer background color*/
.footer-grids-w3-agile:nth-child(2){border-left: 1px solid #838383; border-right: 1px solid #838383;} /*add left and right boder to 2nd child*/
.ff-images {margin: 0px;} /*set margine to 0-image grid*/
.footer-grids-w3-agile {padding: 0em 2em;}
.footer-grids-w3-agile a img {width: 100%;margin-bottom: 0px;border: 2px solid #fff;} /*add white color border to every images in grid*/
.footer-grids-w3-agile a {padding: 0;} /*set anchor tag padding to zero in footergrid agile*/
 
/* footer text formatting */
.footer-grids-w3-agile p {
	color: #bbbbbb;
	line-height: 28px;
	font-size: 15px;
	letter-spacing: .7px;
}

/* header text formatting */
.footer-section-w3-agileits h2,
.footer-section-w3-agileits h3 {
	color: #eee;
	text-transform: capitalize;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 0.6em;
	letter-spacing: 2px;
}
/* text formatting list element */
ul.w3agile_footer_grid_list li {
	list-style-type: none;
	color: #bbbbbb;
	line-height: 28px;
	font-size: 15px;
	letter-spacing: .7px;
}

ul.w3agile_footer_grid_list li:nth-child(1) {margin-bottom: 1em;}
ul.w3agile_footer_grid_list li a {color:  #099cf0 ;text-decoration: none;}
ul.w3agile_footer_grid_list li span {display: block;color: rgba(169, 169, 169, 0.52);} /*twitter name formatting*/
